.style-actions{
    float: initial !important;
    margin-left: 150px;
}


// label default form
.tv-label-default{
    font-size: 16px !important;
    //top: 25px;
    transition: .2s ease all;
    color: #999 !important;
}


.width-stt{
    width: 30px;
    text-align: center;
}

.td-image{
    img{
        width: 150px;
    }
}

.page-header.navbar .page-logo .logo-default{
    margin-top: 15px;
}
